/env
./env/
__pycache__/
*.pyc
.DS_Store
.vscode/
*.mp4   
*.log
*.sqlite3
*.zip
*.prototxt
*.caffemodel
*.model
*.avi
*.mov
*.mkv
*.h5
*.pb
*.onnx
*.weights
*.cfg
*.tmp
./images
*.jpg
*.jpeg
*.csv
*.png
*.yaml
*.yaml
  
/dataset/Train/images
/dataset/
/datasets/
/runs/
*.pt